@import "tailwindcss";

@keyframes dropdown-open {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-dropdown-open {
    animation: dropdown-open 0.2s ease-out forwards;
}

@keyframes modal-open {
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.animate-modal-open {
    animation: modal-open 0.25s ease-out forwards;
}

.glass {
    background-color: rgba(255, 255, 255, 0.12);

    backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08),
    inset 0 0 0 1px rgba(255, 255, 255, 0.35);

    transition: background-color 0.3s ease,
    border 0.3s ease;
}